<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Mosh's Vidly ASP.NET MVC 5 Course completed by James Ware</p>
    </footer>
</div>

@Scripts.Render("~/bundles/lib")
    @* Could wrap @RenderSection in <script> tags to force script only *@
@RenderSection("scripts", required: false)
</body>
</html>
